/__pycache__/
/env/
/data
/datasets
/utils
/models/bilstm/
/models/lstm/
/models/bilstm_fix/
/models/word2vec_bilstm/
model_w2v_bilstm_fix.keras
bilstm_.ipynb
bismillah.ipynb
bismillah2.ipynb
check.ipynb
load.ipynb
manipulation_data.ipynb
preprocessingv2.ipynb
sentiment_analysis.ipynb
*.model
*.png
history_bilstm_fix3.pkl
model_bilstm_fix3.h5
model_bilstm_fix3.keras
model_bilstm_fix3(1).keras
model_fix.keras
model_weights_bilstm_fix3.weights.h5
